@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e8eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 75px;
  text-align: center;
  font-weight: 300;
}

.header-title span {
  font-weight: 700;
}
